.BodyArea{
background-color: cornsilk;
}
.MembersCards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.2rem;
}
.card-text {
  margin-bottom: 0.5rem;
}
.buttonsArea{
  display:flex;
  justify-content: space-evenly;
  margin: 1rem;
}
.buttonMoreInfo{display: flex;
justify-content: flex-start;
gap: 2rem;
margin-top: 0.5rem;
}
.formholder{
  display: flex;
  justify-content: center;
}
.card{
  width: 300px;
  border-bottom: 1rem solid purple;
}
.pageheading{
  text-align: center;

}
.pageHeadingText{
  font-size: 2rem;
}
.heigthAd{
  margin: 0.3rem;
}
.navigationBarAd{
  align-items: center;
  justify-content: space-between;
}
.MembersCards :hover{
  background-color: rgba(210, 255, 142, 0.993);
}
.buttonHover :hover{
  background-color: rgb(137, 72, 143);
}
.formAD{
  width: 80%;
}